<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template :: home(title = 'Item List', current = 'item', main = ~{:: #main})}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<nav th:replace="~{template :: nav}"></nav>
	
	<main id="main" class="container mt-4">
		<div class="row align-items-center mb-3">
			<div class="col-auto">
				<h4>Item</h4>
			</div>
	
			<div class="col-auto">
				<a th:href="@{/item/form}" class="btn btn-success">Add Item</a>
			</div>
		</div>
	</main>

</body>
</html>